<!doctype html>
<html lang="en" ng-App="myTunes">
<head>
    <meta charset="UTF-8">
    <title>Angular Services Intro</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

</head>
<body>
<div ng-controller="itunesController as mc" class="gridStyle" ng-grid="gridOptions">
   Search Itunes: <input type="text" title="artist" ng-model="mc.artist" placeholder="Enter Itunes Search">
    <button ng-click="mc.getItunesData()">Search</button>
    <button ng-click="mc.data=null">Clear</button>
    <table border="1">
        <tbody>
        <tr>
            <th>Album</th>
            <th>Artist</th>
            <th>Track</th>
            <th>Genre</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="results in mc.data">
            <td><img src="{{ results.artworkUrl100 }}" alt="Album Art"></td>
            <td>{{ results.artistName }}</td>
            <td>{{ results.trackName }}</td>
            <td>{{ results.primaryGenreName }}</td>
            <td>${{ results.trackPrice }}</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="script.js"></script>
</body>
</html>